<!DOCTYPE html>
<html>
<head>
    <title>Edit Meeting</title>
</head>
<body>
    <h1>Edit Meeting</h1>
    <form method="POST">
        <label for="title">Title:</label>
        <input type="text" id="title" name="title" value="{{ meeting['title'] }}" required><br><br>

        <label for="date">Date:</label>
        <input type="date" id="date" name="date" value="{{ meeting['date'] }}" required><br><br>

        <label for="time">Time:</label>
        <input type="time" id="time" name="time" value="{{ meeting['time'] }}" required><br><br>

        <label for="Participants">Participants</label>
        <input type="Participants" id="Participants" name="Participants" value="{{meeting['Participants']}}" require><br><br>

        <input type="submit" value="Update Meeting">
    </form>
    <a href="{{ url_for('index') }}">Back to Meetings</a>
</body>
</html>
