

<!DOCTYPE html>
<html>
<head>
    <title>My Meetings</title>
</head>
<body>
    <h1>My Meetings</h1>
    <ul>
        {% for meeting in meetings %}
        <li>
            <h3>{{meeting['title']}}</h3>Date:{{ meeting['date']}} &nbsp; Time: {{ meeting['time']}} &nbsp; Participants: {{meeting['Participants']}}
        
        </li>
            <a href="{{ url_for('edit_meeting', id=meeting['id']) }}">Edit</a>
            <a href="{{ url_for('delete_meeting', id=meeting['id']) }}">Delete</a>
        </li>
        {% endfor %}
    </ul>
   

    <a href="{{ url_for('add_meeting') }}">Add Meeting</a>
</body>
</html>
